<form class="col-4 m-auto mt-5" method="post" action="/login/register">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label  class="form-label">Mdp</label>
    <input name="mdp" type="text" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>